<manifest xmlns:android="http://schemas.android.com/apk/res/android"
package="app">

<application
    android:name="app.FirebaseApplication"
    android:allowBackup="true"
    android:icon="@mipmap/ic_launch"
    android:label="@string/title_app"
    android:roundIcon="@mipmap/ic_launch_round"
    android:supportsRtl="true"
    android:theme="@style/AppTheme">


    <activity
        android:name="app.ui.home.HomeActivity"
        android:windowSoftInputMode="adjustResize" />

    <activity
        android:name="app.ui.auth.SignupActivity"
        android:windowSoftInputMode="adjustResize" />

    <activity
        android:name="app.ui.auth.LoginActivity"
        android:windowSoftInputMode="adjustResize">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>


    <activity
        android:name="org.tensorflow.lite.examples.detection.DetectorActivity"
        android:screenOrientation="fullSensor"
        android:exported="true">

    </activity>


    <meta-data
        android:name="com.google.android.geo.API_KEY"
        android:value="@string/google_maps_key" />

    <activity
        android:name="app.ui.home.MapsActivity"
        android:label="@string/title_activity_maps">

    </activity>


    <activity
        android:name="app.ui.home.RetrieveMapActivity"
        android:label="@string/title_activity_retrieve_map">

    </activity>

    <service
        android:name=".services.MyFirebaseMessagingService"
        android:exported="false">
        <intent-filter>
            <action android:name="com.google.firebase.MESSAGING_EVENT" />
        </intent-filter>
    </service>

    <meta-data
        android:name="com.google.firebase.messaging.default_notification_icon"
        android:resource="@drawable/ic_danger_foreground" />

    <meta-data
        android:name="firebase_messaging_auto_init_enabled"
        android:value="false" />
    <meta-data
        android:name="firebase_analytics_collection_enabled"
        android:value="false" />


</application>

<uses-feature android:name="android.hardware.camera.autofocus" />
<uses-feature android:name="android.hardware.camera" />

<uses-permission android:name="android.permission.CAMERA" />
<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />


<uses-sdk />

</manifest>



